on:
  schedule:
    - cron: '13 * * * *'
    
    

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/koshelf

jobs:
fetch-release:                                                                                                                                                     
    runs-on: ubuntu-latest                                                                                                                                           
    steps:                                                                                                                                                           
      - name: Get Latest Release                                                                                                                                     
        id: latest_release                                                                                                                                           
        uses: pozetroninc/github-action-get-latest-release@master                                                                                                    
        with:                                                                                                                                                        
          owner: 'paviro'  # Replace with the repository owner's username                                                                                        
          repo: 'KoShelf'  # Replace with the repository name                                                                                                
          excludes: 'prerelease, draft'                                                                                                                              
                                                                                                                                                                     
      - name: Display Latest Release  
        run: koshelf_version=${{ steps.latest_release.outputs.release }}
        run: platforms='linux/amd64,linux/arm64'
        run: echo "Latest release version: ${{ steps.latest_release.outputs.release }}"
        run: echo "Repository variable: ${{ vars.KOSHELF_VERSION}}

  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ inputs.koshelf_version }}
            type=raw,value=latest
            type=sha,prefix=sha-

      - name: Build and push
        if: ${{vars.KOSHELF_VERSION != steps.latest_release.outputs.release}}
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            KOSHELF_VERSION=${{ koshelf_version }}
