name: Build and Push Docker Image automatically
on:
  schedule:
    - cron: '35 * * 11 *'
  workflow_dispatch:
    
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/koshelf

jobs:
  fetch-release:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.latest_release.outputs.release }}
    steps:
      - name: Get Latest Release
        id: latest_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: 'paviro'
          repo: 'KoShelf'
          excludes: 'prerelease, draft'
                                                                                                                                                                     
      - name: Display Latest Release  
        run: |
          echo "Latest release version: ${{ steps.latest_release.outputs.release }}"
          echo "Repository variable: ${{ vars.KOSHELF_VERSION }}"
          echo "Should build: ${{ vars.KOSHELF_VERSION != steps.latest_release.outputs.release }}"

  build:
    runs-on: ubuntu-latest
    needs: fetch-release
    if: ${{ vars.KOSHELF_VERSION != needs.fetch-release.outputs.release_version }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ needs.fetch-release.outputs.release_version }}
            type=raw,value=latest
            type=sha,prefix=sha-
            
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          build-args: |
            KOSHELF_VERSION=${{ needs.fetch-release.outputs.release_version }} 
        
      #- name: Store Repository Variable                                                                                                                              
      #  run: gh variable set KOSHELF_VERSION --body ${{ needs.fetch-release.outputs.release_version }}     
